body {
      background-color: #568B56;
}
header {
  text-align: center;
  background-color: #194545;
  color: #AAC9AA;
}
nav{
  background-color: #194545;
  color: #AAC9AA;
}
.post {
      margin-left: 15%;
      width: 70%;
      background-color: #194545;
      color: #AAC9AA;
}

.posttext {
  margin-left: 15px;
  margin-right: 15px;
}
